.record-page_main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 10px;
}

.record-page-add-btn {
  box-shadow: 3px 3px 5px 0px #c1c1c1;
}

.record-page_record-name {
  max-width: 500px;
  margin-bottom: 5px;
}

.record-page_records {
  display: flex;
  flex-direction: column-reverse;
}

.record-page_row-btn {
  margin: 1px;
}

.record-page_table {
  background-color: white;
  padding: 3px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px #c1c1c1;
}

.record-page_delete-text {
  color: red;

  &:hover {
    color: red;
  }
}

.record-page_action-btns {
  min-width: 81px;
}

// autocomplete potřeboval dostat nahoru aby byl vydět
.autocomplete {
  z-index: 10000;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;

  div {
    &:hover {
      background-color: rgb(213, 255, 255);
      cursor: default;
      font-weight: 500;
    }
  }
}
