.record-page_main {
  max-width: 1200px;
  margin: 24px auto 80px;
  padding: 0 10px;

  @media screen and (max-width: 500px) {
    h3 {
      font-size: 1rem;
    }
  }
}

.record-page_page-title {
  color: #382933;
  font-weight: 600;
}

.record-page_float-btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 1000;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  box-shadow: 3px 3px 5px 0px #c1c1c1;
}

.record-page_title {
  font-size: 22px;
  margin: 0 10px;
  text-shadow: 1px 1px 1px #69775abf;
}

.record-page_record-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a4b494bf;
  border-radius: 5px 5px 0 0;
  padding: 5px 0;

  // TODO stejný jako v SummaryPage _icons
  .record-page_icons {
    background-color: #f7ffedbf;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    box-shadow: inset 1px 1px 1px 1px #69775abf;
  }
}

.record-page_records {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 50px;

  @media screen and (max-width: 500px) {
    margin-bottom: 20px;
  }
}

.record-page_row-btn {
  margin: 1px;
}

.record-page_table {
  background-color: white;
  padding: 3px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px #c1c1c1;
}

.record-page_delete-text {
  color: red;

  &:hover {
    color: red;
  }
}

.record-page_action-btns {
  width: 100px;
  min-width: 81px;
}

.record-page_date {
  min-width: 100px;
}

.record-page_kind {
  white-space: nowrap;
}

.record-page_note {
  margin-right: 16px;
  cursor: pointer;
}
.record-page_note-empty {
  margin-right: 16px;
  padding: 0 5px;
}

.record-page_history-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.record-page_history {
  border: 1px solid #382933;
  color: #382933;
  width: 75px;
  text-align: center;
  border-radius: 20px;
  padding: 5px 17px;
  margin: 5px;
  cursor: pointer;
  transition: all 300ms ease-in-out;

  &:hover {
    background-color: #a4b494bf;
  }
}

// bootstrap override
.dropdown-item:active {
  background-color: #e0e0e0;
  color: black;
}

.record-page_delete-text.dropdown-item:active {
  color: red;
}

// autocomplete potřeboval dostat nahoru aby byl vydět
.autocomplete {
  z-index: 10000;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;

  div {
    &:hover {
      background-color: rgb(213, 255, 255);
      cursor: default;
      font-weight: 500;
    }
  }
}
