.record-page_main {
  max-width: 1200px;
  margin: 0px auto 80px;
  padding: 0 10px;
}

.record-page_float-btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 1000;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  box-shadow: 3px 3px 5px 0px #c1c1c1;
}

.record-page_record-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a4b494bf;
  border-radius: 5px 5px 0 0;
  padding: 5px 0;

  .record-page_icons {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}

.record-page_records {
  display: flex;
  flex-direction: column-reverse;
}

.record-page_row-btn {
  margin: 1px;
}

.record-page_table {
  background-color: white;
  padding: 3px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px #c1c1c1;
}

.record-page_delete-text {
  color: red;

  &:hover {
    color: red;
  }
}

.record-page_action-btns {
  width: 100px;
  min-width: 81px;
}

.record-page_date {
  min-width: 100px;
}

.record-page_kind {
  white-space: nowrap;
}

.record-page_note {
  margin-right: 16px;
  cursor: pointer;
}
.record-page_note-empty {
  margin-right: 16px;
  padding: 0 5px;
}

// bootstrap override
.dropdown-item:active {
  background-color: #e0e0e0;
  color: black;
}

.record-page_delete-text.dropdown-item:active {
  color: red;
}

// autocomplete potřeboval dostat nahoru aby byl vydět
.autocomplete {
  z-index: 10000;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;

  div {
    &:hover {
      background-color: rgb(213, 255, 255);
      cursor: default;
      font-weight: 500;
    }
  }
}
