.summary-page_main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 10px;
}
.summary-page-add-btn {
  box-shadow: 3px 3px 5px 0px #c1c1c1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.summary-page_summaries {
  display: flex;
  flex-direction: column-reverse;
}

.summary-page_record-name {
  max-width: 500px;
  margin-bottom: 5px;
}

.summary-page_table {
  background-color: white;
  padding: 3px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px #c1c1c1;
}

.summary-page_delete-text {
  color: red;

  &:hover {
    color: red;
  }
}

.summary-page_row-btn {
  margin: 1px;
}

.summary-page_number-a-action {
  min-width: 110px;

  // notifikace zarovnaný do prava
  span {
    float: right;
  }
}

.summary-page_kind {
  min-width: 80px;
  white-space: nowrap;
}

// bootstrap override
.dropdown-item:active {
  color: red;
  background-color: #e0e0e0;
}
