.summary-page_main {
  max-width: 1200px;
  margin: 24px auto 80px;
  padding: 0 10px;
}

.summary-page_summaries {
  display: flex;
  flex-direction: column-reverse;
}

.summary-page_record-name {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #a4b494bf;
  border-radius: 5px 5px 0 0;
  padding: 5px 0;

  .summary-page_icons {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}

.summary-page_table {
  background-color: white;
  padding: 3px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px #c1c1c1;
}

.summary-page_delete-text {
  color: red;

  &:hover {
    color: red;
  }
}

.summary-page_row-btn {
  margin: 1px;
}

.summary-page_number-a-action {
  width: 110px;
  min-width: 110px;

  // notifikace zarovnaný do prava
  span {
    float: right;
  }
}

.summary-page_kind {
  min-width: 80px;
  white-space: nowrap;
}

.summary-page_note {
  margin: 0 8px;
  cursor: pointer;
  line-height: 20px;
}

// bootstrap override
.dropdown-item:active {
  background-color: #e0e0e0;
  color: black;
}

.summary-page_delete-text.dropdown-item:active {
  color: red !important;
}
