.float-btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 1000;
}

.main {
  min-height: 100vh;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cx-card {
  box-shadow: 3px 3px 5px 1px #c1c1c1;

  display: flex;
  margin: 0 0 40px;
  background-color: white;
  @media only screen and (max-width: 840px) {
    max-width: 400px;
  }
  cursor: pointer;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4906337535014006) 37%,
    rgba(255, 255, 255, 1) 70%
  );
  z-index: 100;
}

.cx-card-image {
  order: 1;
}

.cx-card-body {
  order: 2;
  margin: 10px;

  // @media only screen and (min-width: 600px) {
  //   order: 0;
  // }
}
