.admin-page_main {
  max-width: 800px;
  margin: 76px auto 20px; // +56px navbar
}

.admin-page-section {
  padding: 20px;
  margin: 0 5px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px #c1c1c1;

  @media screen and (max-width: 500px) {
    padding: 10px;
  }
}

.admin-page_title {
  font-size: 2rem;
  line-height: 45px;

  @media screen and (max-width: 500px) {
    font-size: 1.5rem;
    line-height: 30px;
    margin-bottom: 10px;
  }
}
