.login-page_main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-page_form {
  min-width: 300px;
}

.login-page_title {
  text-align: center;
  margin-bottom: 1em;
}

.login-page_btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  button {
    width: 120px;
  }

  a {
    width: 120px;
  }
}

.login-page_notification {
  position: absolute;
  margin: auto;
  top: 50px;
  width: 300px;
}
