.landing-page_main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #382933, #3b5249, #519872, #a4b494);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.landing-page_main-container {
  max-width: 600px;
  text-align: center;
  padding: 50px;
  backdrop-filter: blur(8px);
  border-radius: 15px;
  background-color: #ffffff91;

  h3 {
    font-size: 1.75rem;
  }

  @media screen and (max-width: 500px) {
    max-width: 300px;
    padding: 20px;

    h3 {
      font-size: 1rem;
      margin-bottom: 20px;
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
