@import "../styles/variables.scss";

.navigation_nav {
  background-color: $primary;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);

  a {
    margin: 0 10px;
    text-decoration: none;
    color: $quaternary !important;
  }

  button {
    margin: 0 10px;
    border: 1px solid $quaternary !important;
  }

  .navigation_btn {
    color: $quaternary !important;

    &:hover {
      background-color: $quaternary;
      color: $primary !important;
    }

    @media screen and (max-width: 900px) {
      margin: 10px;
    }
  }
}

// hamburger
.navbar-dark .navbar-toggler {
  border-color: transparent !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28135, 161, 138, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
