.navigation_nav {
  background-color: #007bff;
  box-shadow: 3px 3px 5px 0px #c1c1c1;

  a {
    margin: 0 10px;
    text-decoration: none;
    color: white !important;
  }

  button {
    margin: 0 10px;
  }
}

// hamburger
.navbar-dark .navbar-toggler {
  border-color: transparent !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
