@import "./styles/variables.scss";

@import "~bootstrap/scss/bootstrap";

.auth_main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// bootstrap override
th {
  position: sticky;
  top: 1px;
  background-color: #fff;
  box-shadow: 0 1px #dee2e6, 0 -1px #dee2e6;
}
