.post-page_main {
  max-width: 800px;
  margin: 20px auto;
}

.post-page-post {
  padding: 10px;
  margin: 0 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px #c1c1c1;
}

.post-page_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.post-page_images-container {
  width: 100%;
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px solid black;
}

.post-page_modal-images {
  width: 100%;
  height: 80vh;
  object-fit: contain;
}

.post-page_modal-images-modal {
  background-color: #333333;

  // bootstrap override
  .close {
    color: white;
    opacity: 1;
  }
}

.post-page_back-btn-icon {
  transition: all 250ms;

  img {
    vertical-align: baseline;

    filter: invert(32%) sepia(83%) saturate(3434%) hue-rotate(200deg)
      brightness(103%) contrast(106%);
  }

  &:hover {
    img {
      filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(67deg)
        brightness(108%) contrast(101%);
    }
  }
}

.post-page_icons-group {
  display: flex;
  align-items: center;
  img {
    margin: 0 5px 0 10px;
  }
}

.post-page_text {
  overflow: hidden;
}

.post-page_animated-background {
  margin: 1px;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(135deg, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  min-height: 100px;
  position: relative;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.loader {
  position: relative;
  overflow: hidden;
  transform: rotate(0deg);
}

.loader::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  top: 45%;
  left: 40%;
  transform: translate(0, -50%);

  z-index: -1;
  background: url("/loading.svg");
  background-repeat: no-repeat;
  background-origin: border-box;

  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-name: spinner;
}

@keyframes spinner {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
